.main .panel {
    margin-left: auto;
    margin-right: auto;
    width: 200px;

    border: 2px solid black;
    table-layout: fixed;
    width: 400px;

}

.main .panel tr {
    height: 100px;
}

.main .panel td {
    text-align: center;
    vertical-align: center;
    width: 100px;

    border: 1px solid black;
    margin: 0;

    font-size: 40px;
}